<section class="container">
<section class="row">
<header class="col-md-12 alert alert-info">  
<h3 class="">
  {{title}}
</h3>

<h6>
  {{description}}
</h6>
</header>
<section class="row">
  <article class="col-md-7">
    <h3 *ngIf="errorMsg === 'Not Found'">  
    The backend server returns error : {{errorMsg}}
    </h3>
    <h4>View Courses</h4>
 
    <ul *ngFor=" let course of courses" class="well well-sm">
    <li><strong>Course Title:</strong> {{course.courseTitle}}</li>
    <li><strong>Course Description:</strong> {{course.courseDescription}}</li>
    <li><strong> Credit: </strong>{{course.courseCredit}}</li> 
    </ul>
    </article>
    

    <article class="col-md-5">
     <h4>Create Course</h4>
        <form #valForm="ngForm" (ngSubmit)="addCourse(valForm.value); valForm.reset();" >
        <label>Course Title</label>
        <input class="form-control" type="text"  name="courseTitle"  ngModel placeholder="Enter Course Title" required>
        <label>Course Description</label>
        <textarea class="form-control"  name="courseDescription" ngModel placeholder="Enter Course Description" required></textarea>
        <label>Course Credit</label>
        <input class="form-control"type="number" name="courseCredit" ngModel placeholder="0"  min="0" max="3" required>
        <input class="form-control btn btn-primary"  type="submit" value="Create Course" [disabled]="!valForm.form.valid"
        >
      </form>
  </article>
</section>
</section>